shell-emulator=true             # Opening shell script
auto-install-peers=false        # When true, any missing non-optional peer dependencies are automatically installed.
dedupe-injected-deps=false      # https://pnpm.io/npmrc#dedupe-injected-deps
link-workspace-packages=true    # https://pnpm.io/npmrc#link-workspace-packages